# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Python virtual environment / test cache
venv/
.pytest_cache/

# ESP32 specific / configs
config.json
